<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal server error</title>
    <link rel="stylesheet" href="/resources/styles/general_styles/general.css">
    <link rel="stylesheet" href="/resources/styles/errors.css">
</head>
<body>
    <div class="internal-error-container">
        <h1>500</h1>
        <h3>Упс! Что-то пошло не так</h3>
        <p>На сервере произошла ошибка. Мы уже работаем над её исправлением.</p>
        <p th:if="${error != null}" th:text="'Детали: ' + ${error}"></p>
        <a th:href="@{/home}" class="home-btn">На главную</a>
    </div>
</body>
</html>
