<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
    <link rel="stylesheet" href="/resources/styles/general_styles/general.css">
    <link rel="stylesheet" href="/resources/styles/general_styles/btns.css">
    <link rel="stylesheet" href="/resources/styles/general_styles/list.css">
    <link rel="stylesheet" href="/resources/styles/general_styles/pagination.css">
</head>
<body>
<div class="list__container">
    <div class="home__link">
        <a th:href="@{/home}" class="home__btn">
            <span class="arrow">&larr;</span>
        </a>
    </div>
    <h1>Авторы</h1>
    <div class="list__content">
        <a class="card" th:href="@{/authors/{id}(id=${author.getId()})}" th:each="author : ${authors}">
            <div class="card__info">
                <p><strong>ID:</strong> <span th:text="${author.getId()}"></span></p>
                <p><strong>ФИО:</strong> <span th:text="${author.getFullName()}"></span></p>
                <p><strong>Дата рождения:</strong> <span th:text="${author.getDateOfBirth()}"></span></p>
            </div>
        </a>
    </div>

    <div th:replace="fragments/pagination :: pagination (${currentPage}, ${totalPages}, ${pageSize}, 'authors')"></div>

    <div class="create__btn">
        <a th:href="@{/authors/new}">Добавить</a>
    </div>
</div>
</body>
</html>