<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="/resources/styles/book_details.css">
</head>
<body>
    <div class="details__container">
        <div class="home__link">
            <a th:href="@{/books}" class="home__btn">
                <span class="arrow">&larr;</span>
            </a>
        </div>
        <h1>Информация о книге</h1>
        <div class="details__info">
            <p><strong>Название:</strong> <span th:text="${book.getTitle()}"></span></p>
            <p><strong>Автор:</strong> <span th:text="${book.getBookAuthor().getFullName()}"></span></p>
            <p><strong>Дата публикации:</strong> <span th:text="${book.getReleaseDate()}"></span></p>
            <p><strong>Описание:</strong> <span th:text="${book.getDescription()}"></span></p>
        </div>


    <div th:if="${owner}">
        <div class="details__reader">
            <p><strong>Reader:</strong> <span th:text="${owner.getFull_name()}"></span></p>
        </div>

        <form th:method="PATCH" th:action="@{/books/{id}/return_book(id=${book.getId()})}">
            <input type="hidden" name="book_id" th:value="${book.getId()}">
            <input class="btn return_book" type="submit" value="Освободить">
        </form>
    </div>
    <div th:if="${people}">
        <form class="form__assign" th:method="PATCH" th:action="@{/books/{id}/assign_book(id=${book.getId()})}">
            <div>
                <label for="person">Читатели: </label>
                <select id="person" name="person_id">
                    <option
                            th:each="person : ${people}"
                            th:value="${person.getId()}"
                            th:text="${person.getFull_name()}"
                    ></option>
                </select>
            </div>

            <input type="hidden" name="book_id" th:value="${book.getId()}">
            <input class="btn assign" type="submit" value="Выдать">
        </form>
    </div>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <div class="delete__update__container">
            <div class="details__actions">
                <a class="btn edit" th:href="@{/books/{id}/edit(id=${book.getId()})}">Обновить</a>
            </div>

            <input class="btn delete" type="submit" value="Удалить">
        </div>
    </form>
</div>
</body>
</html>