<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" href="/resources/styles/list_cards.css">
</head>
<body>
<div class="list__container">
    <div class="home__link">
        <a th:href="@{/home}" class="home__btn">
            <span class="arrow">&larr;</span>
        </a>
    </div>
    <h1>Книги</h1>
    <div class="list__content">
        <a class="card" th:href="@{/books/{id}(id=${book.getId()})}" th:each="book : ${books}">
            <div class="card__info">
                <p th:switch="${book.getBookStatus().getCurrentStatus().toString()}"><strong>
                    <span th:case="AVAILABLE" style="color: #28a745">Доступна</span>
                    <span th:case="RESERVED" style="color: #dc3545">Занята</span>
                    <span th:case="TEMPORARILY_UNAVAILABLE" style="color: #5a6268">Временно недоступна</span>
                    <span th:case="*">Что-то не то</span>
                </strong></p>
                <p><strong>Название:</strong> <span th:text="${book.getTitle()}"></span></p>
                <p><strong>Автор:</strong> <span th:text="${book.getBookAuthor().getFullName()}"></span></p>
            </div>
        </a>
    </div>
    <nav aria-label="Page navigation" class="pagination__container">
        <ul class="pagination">
            <!-- Кнопка "Предыдущая страница" -->
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="previous-page page-link" th:href="@{'/books'(page=${currentPage - 1}, size=${pageSize})}">&laquo;</a>
            </li>

            <!-- Номера страниц -->
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${pageNum == currentPage} ? 'active'">
                <a class="page-link" th:href="@{'/books'(page=${pageNum}, size=${pageSize})}"
                   th:text="${pageNum}"></a>
            </li>

            <!-- Кнопка "Следующая страница" -->
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="next-page page-link" th:href="@{'/books'(page=${currentPage + 1}, size=${pageSize})}">&raquo;</a>
            </li>
        </ul>
    </nav>
    <div class="create__btn">
        <a th:href="@{/books/new}">Добавить</a>
    </div>
</div>
</body>
</html>