<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="/resources/styles/book_details.css">
</head>
<body>
<div class="details__container">
    <h1>Book Details</h1>
    <div class="details__info">
        <p><strong>Title:</strong> <span th:text="${book.getTitle()}"></span></p>
        <p><strong>Author:</strong> <span th:text="${book.getAuthor()}"></span></p>
        <p><strong>Release Date:</strong> <span th:text="${book.getDate_of_release()}"></span></p>
    </div>

    <div th:if="${book.getPerson_id()}" class="details__reader">
        <p><strong>Reader:</strong> <span th:text="${person.getFIO()}"></span></p>
    </div>

<div th:if="${book.getPerson_id()}">
    <p th:text="${person.getFIO()}"></p>
    <form th:method="PATCH" th:action="@{/admin/take_back}" th:object="${book}">
        <input type="hidden" name="book_id" th:value="${book.getBook_id()}">

        <input type="submit" value="Освободить">
    </form>
</div>

<form class="form__assign" th:method="PATCH" th:action="@{/admin/give_book}" th:if="${people}">
    <div>
        <label for="people">Выбери читателя: </label>
        <select id="people" name="person_id">
            <option
                    th:each="person : ${people}"
                    th:value="${person.getPerson_id()}"
                    th:text="${person.getFIO()}"
            ></option>
        </select>
    </div>

    <input type="hidden" name="book_id" th:value="${book.getBook_id()}">
    <input class="btn assign" type="submit" value="Выдать">
</form>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
        <div class="delete__update__container">
            <div class="details__actions">
                <a class="btn edit" th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">Обновить</a>
            </div>

            <input class="btn delete" type="submit" value="Удалить">
        </div>
    </form>
</div>
</body>
</html>