<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link rel="stylesheet" href="/resources/styles/edit_person.css">
</head>
<body>
<div class="form__container">
    <h1>Обновить информацию</h1>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${cur_book_id})}" th:object="${book}">
        <div class="form__group">
            <label for="title">Название: </label>
            <input id="title" type="text" th:field="*{title}">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></div>
        </div>

        <div class="form__group">
            <label for="author">Автор: </label>
            <input id="author" type="text" th:field="*{author}">
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red"></div>
        </div>

        <div class="form__group">
            <label for="date_of_release">Дата публикации: </label>
            <input id="date_of_release" type="text" th:field="*{date_of_release}">
            <div th:if="${#fields.hasErrors('date_of_release')}" th:errors="*{date_of_release}" style="color: red"></div>
        </div>

        <div class="form__actions">
            <input class="btn save" type="submit" value="Изменить">
        </div>
    </form>
</div>
</body>
</html>