<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/resources/styles/general_styles/general.css">
    <link rel="stylesheet" href="/resources/styles/home_page.css">
</head>
<body>
<div class="home__container">
    <h1>ЛибА</h1>
    <div class="home__links">
        <a class="btn link" th:href="@{/authors}">Авторы</a>
        <a class="btn link" th:href="@{/books}">Книги</a>
        <a class="btn link" th:href="@{/people}">Читатели</a>
    </div>
    <div class="quote__container">
        <blockquote>
            <p th:text="${quote.text}"></p>
            <footer th:text="${quote.author}"></footer>
        </blockquote>
    </div>
</div>
</body>
</html>