<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Person</title>
    <link rel="stylesheet" href="/styles/general_styles/general.css">
    <link rel="stylesheet" href="/styles/general_styles/form.css">
    <link rel="stylesheet" href="/styles/general_styles/btns.css">
    <link rel="stylesheet" href="/styles/create_form.css">
</head>
<body>
<div class="form__container">
    <h1>Добавить читателя</h1>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <div class="form__group">
            <label for="full_name">Имя:</label>
            <input type="text" th:field="*{fullName}" id="full_name" placeholder="Введите имя">
            <div class="error-message" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>
        </div>

        <div class="form__group">
            <label for="age">Возраст:</label>
            <input type="text" th:field="*{age}" id="age" placeholder="Введите возраст">
            <div class="error-message" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>

        <div class="form__group">
            <label for="email">Email:</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Введите email">
            <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form__group">
            <label for="phoneNumber">Номер телефона:</label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="+7(000)000-00-00">
            <div class="error-message" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>
        <div class="form__actions">
            <input class="btn submit" type="submit" value="Создать">
        </div>
    </form>
</div>
</body>
</html>
