<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Person</title>
    <link rel="stylesheet" href="/resources/styles/create_person.css">
</head>
<body>
<div class="form__container">
    <h1>Добавить читателя</h1>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <div class="form__group">
            <label for="fio">Имя:</label>
            <input type="text" th:field="*{FIO}" id="fio" placeholder="Введите имя">
            <div class="error-message" th:if="${#fields.hasErrors('FIO')}" th:errors="*{FIO}"></div>
        </div>
        <div class="form__group">
            <label for="date_of_birth">Дата рождения:</label>
            <input type="text" th:field="*{date_of_birth}" id="date_of_birth" placeholder="ГГГГ-ММ-ДД">
            <div class="error-message" th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}"></div>
        </div>
        <div class="form__actions">
            <input class="btn submit" type="submit" value="Создать">
        </div>
    </form>
</div>
</body>
</html>
