<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
    <link rel="stylesheet" href="/resources/styles/list_cards.css">
</head>
<body>
<div class="list__container">
    <h1>All People</h1>
    <div class="list__content">
        <a class="card" th:href="@{/people/{id}(id=${person.getPerson_id()})}" th:each="person : ${people}">
            <div class="card__info">
                <p><strong>ID:</strong> <span th:text="${person.getPerson_id()}"></span></p>
                <p><strong>Name:</strong> <span th:text="${person.getFIO()}"></span></p>
                <p><strong>Birth Date:</strong> <span th:text="${person.getDate_of_birth()}"></span></p>
            </div>
        </a>
    </div>
    <div class="create__btn">
        <a th:href="@{/people/new}">Добавить</a>
    </div>
</div>
</body>
</html>