<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Details</title>
    <link rel="stylesheet" href="/resources/styles/model_page.css">
</head>
<body>
<div class="details__container">
    <h1>Карта читателя</h1>
    <div class="details__content">
        <div class="person-info">
            <p><strong>Имя:</strong> <span th:text="${person.getFull_name()}"></span></p>
            <p><strong>Возраст:</strong> <span th:text="${person.getAge()}"></span></p>
            <p><strong>Email:</strong> <span th:text="${person.getEmail()}"></span></p>
            <p><strong>Номер телефона:</strong> <span th:text="${person.getPhoneNumber()}"></span></p>
        </div>
        <div class="actions">
            <a class="btn edit" th:href="@{/people/{id}/edit(id=${person.getId()})}">Обновить</a>
            <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                <input class="btn delete" type="submit" th:value="Удалить">
            </form>
        </div>
    </div>

    <div>
        <h2>Книги</h2>
        <div th:if="${books}" class="books__list">
            <p th:each="book : ${books}" th:text="${book.getTitle()}"></p>
        </div>
    </div>
</div>
</body>
</html>
