<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
    <link rel="stylesheet" href="/resources/styles/person_list.css">
</head>

<body>
<div class="list__container">
    <h1>All People</h1>
    <div class="list__content">
        <div class="person-card" th:each="person : ${people}">
            <div class="person-info">
                <p><strong>ID:</strong> <span th:text="${person.getPerson_id()}"></span></p>
                <p><strong>Name:</strong> <span th:text="${person.getFIO()}"></span></p>
                <p><strong>Birth Date:</strong> <span th:text="${person.getDate_of_birth()}"></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
