/* Информация о книге */
.details__info{
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
}

.details__info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.details__info strong {
    color: #555;
}

/* Читатель */
.details__reader {
    margin: 20px 0;
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.details__reader p {
    font-size: 16px;
    color: #444;
}

/* Действия */
.details__actions,
.form__assign {
    margin-top: 10px;
    width: 45%;
}

/* Кнопка обновления */
.btn.edit {
    width: 100%;
    background-color: #007bff;
    display: block;
    text-align: center;
}

.btn.edit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Кнопка назначения читателя */
.btn.assign {
    margin-top: 25px;
    width: 45%;
    background-color: #28a745;
}

.btn.assign:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.btn.return_book{
    width: 100%;
    background-color: #6c757d;
}

.btn.return_book:hover {
    background-color: #5a6268;
    transform: scale(1.05);
}

.delete__update__container{
    display: flex;
    justify-content: space-between;
}

/* Кнопка удаления */
.btn.delete {
    background-color: #dc3545;
    margin-top: 10px;
    width: 45%;
    display: block;
    text-align: center;
}

.btn.delete:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

/* Поле выбора читателя */
label {
    font-size: 16px;
    color: #555;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
    cursor: pointer;
}

select:focus {
    border-color: #007bff;
}

/* Форма назначения */
.form__assign {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__assign div{
    width: 45%;
}

/* Общий стиль для форм */
form {
    margin-top: 20px;
}

a.reader-link {
    text-decoration: none;
    color: #555;
    transition: color 0.3s;

    font-size: 18px;
    font-weight: bold;
}

a.reader-link:hover {
    color: #333333;
}

