.details__container {
    width: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.home__link {
    margin: 10px;
}