/* Контент */
.details__content {
    margin-bottom: 20px;
}

.person-info {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.person-info p {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}

.person-info strong {
    color: #000;
}

/* Действия */
.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn.edit {
    background-color: #007bff;
}

.btn.edit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn.delete {
    background-color: #dc3545;
    border: none;
}

.btn.delete:hover {
    background-color: #a71d2a;
    transform: scale(1.05);
}

/* Список книг */
.books-list {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.books-list p {
    font-size: 16px;
    color: #444;
    margin-bottom: 5px;
}

/* Ссылка Home */
.home__link {
    margin: 10px;
}


.books-list{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items:center;
}

a.book-link {
    text-decoration: none;
    color: #555;
    transition: color 0.3s;

    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

a.book-link:hover {
    color: #333333;
}
